<dialog id="ignoreModal" class="relative p-6 bg-tacao-50 dark:bg-slate-700 rounded-lg shadow-lg">
	<button id="ignoreModalCloseButton" class="close-button outline-none">
		<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-700 hover:text-gray-900 dark:text-gray-500 dark:hover:text-gray-300" fill="none" viewbox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
		</svg>
	</button>
	<h2 class="mb-6 mr-32 text-lg font-semibold tc-sharp">Not a mistake</h2>

	<p class="text-base tc-base pr-6">This move will be ignored in future analysis.</p>

	<div class="flex justify-end space-x-2 mt-8">
		<button id="ignoreModalCancelButton" class="btn btn-outline">
			Cancel
		</button>
		<button id="ignoreModalConfirmButton" class="btn btn-warning">
			Confirm
		</button>
	</div>
</dialog>
