<div id="ignoreModal" class="modal is-large-rounded">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Not a mistake</p>
			<button id="ignoreModalCloseButton" class="delete" aria-label="close"></button>
		</header>
		<section class="modal-card-body">
			<p class="tc-base pr-6">
				This move will be ignored in future analysis.
			</p>
		</section>
		<footer class="modal-card-foot is-justify-content-flex-end">
			<div class="buttons">
				<button id="ignoreModalCancelButton" class="button">
					Cancel
				</button>
				<button id="ignoreModalConfirmButton" class="button is-warning">
					Confirm
				</button>
			</div>
		</footer>
	</div>
</div>
