<div id="saveModal" class="modal is-large-rounded">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Save to repertoire</p>
			<butto id="saveModalCloseButton" class="delete" aria-label="close"></button>
		</header>
		<section class="modal-card-body">
			<p id="saveModalTextOneMove" class="is-hidden tc-base pr-6">
				This move will be saved to your repertoire.
			</p>

			<p id="saveModalTextMultipleMoves" class="tc-base pr-6 pb-3">
				Which moves do you want to save to your repertoire:
			</p>

			<div id="saveModalMovesList">
				<div class="field">
					<label class="radio">
						<input id="saveModalRadioTopMove" type="radio" name="list-radio" checked>
						Top engine move
					</label>
				</div>
				<div class="field">
					<label class="radio">
						<input id="saveModalRadioTop2" type="radio" name="list-radio">
						Top 2 moves
					</label>
				</div>
				<div class="field">
					<label class="radio">
						<input id="saveModalRadioTop3" type="radio" name="list-radio">
						Top 3 moves
					</label>
				</div>
			</div>
		</section>
		<footer class="modal-card-foot is-justify-content-flex-end">
			<div class="buttons">
				<button id="saveModalCancelButton" class="button">
					Cancel
				</button>
				<button id="saveModalConfirmButton" class="button is-warning">
					Confirm
				</button>
			</div>
		</footer>
	</div>
</div>
