{% extends "./base.html.twig" %}

{% block body %}
	{% if app.user %}
		<div class="p-10">
			<div class="my-8">
				<h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-200">Build your repertoire</h2>
				<p class="text-md text-gray-600 dark:text-gray-300 mt-6 mb-8">Build your repertoire with the white and black pieces and use it to practice your opening moves.</p>

				<a href="/repertoire/white" class="btn btn-outline mr-1">
					Work on your white repertoire
				</a>
				<a href="/repertoire/black" class="btn btn-outline ">
					Work on your black repertoire
				</a>
			</div>

			<div class="my-12">
				<h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-200">Practice your moves</h2>
				<p class="text-md text-gray-600 dark:text-gray-300 mt-6 mb-8">Practice your opening moves using the repertoire you've built.</p>

				<a href="/practice" class="btn btn-outline mr-1">
					Practice your entire repertoire
				</a>
			</div>

			<div class="my-12">
				<h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-200">Analyse your games</h2>
				<p class="text-md text-gray-600 dark:text-gray-300 mt-6 mb-8">Analyse 1 or multiple PGN files and check for opening mistakes.</p>

				<a href="/analyse" class="btn btn-outline mr-1">
					Analyse your games
				</a>
			</div>

		{% endif %}

	{% endblock %}
