{% extends "./base.html.twig" %}

{% block body %}
	{% if app.user %}
		<div class="mx-auto w-4/5 my-12 mt-20">
			<h2 class="text-2xl font-semibold text-gray-900">Build your repertoire</h2>
			<p class="text-md text-gray-600 mt-6 mb-8">Build your repertoire with the white and black pieces and use it to practice your opening moves.</p>

			<a href="/repertoire/white" class="rounded-md bg-indigo-600 mr-1 px-3 py-2 text-sm uppercase font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
				Work on your white repertoire
			</a>
			<a href="/repertoire/black" class="rounded-md bg-indigo-600 px-3 py-2 text-sm uppercase font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
				Work on your black repertoire
			</a>
		</div>

		<div class="mx-auto w-4/5 my-8">
			<h2 class="text-2xl font-semibold text-gray-900">Practice your moves</h2>
			<p class="text-md text-gray-600 mt-6 mb-8">Practice your opening moves using the repertoire you've built.</p>

			<a href="/practice" class="rounded-md bg-indigo-600 mr-1 px-3 py-2 text-sm uppercase font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
				Practice your entire repertoire
			</a>
		</div>

		<div class="mx-auto w-4/5 my-8">
			<h2 class="text-2xl font-semibold text-gray-900">Analyse your games</h2>
			<p class="text-md text-gray-600 mt-6 mb-8">Analyse 1 or multiple PGN files and check for opening mistakes.</p>

			<a href="/analyse" class="rounded-md bg-indigo-600 mr-1 px-3 py-2 text-sm uppercase font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
				Analyse your games
			</a>
		</div>

	{% endif %}

{% endblock %}
