{% extends 'base.html.twig' %}

{% block body %}

	<div class="w-full">
		<div class="is-flex">
			<div class="mr-2">
				<label for="maxLinesInput" class="py-1 is-size-6 has-text-weight-medium text-gray-900 dark:text-gray-200">Max. lines:</label>
				<input id="maxLinesInput" type="number" value="5000" min="1000" max="10000" step="1000" class="is-medium-rounded border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600">
			</div>
			<div>
				<label for="batchSizeInput" class="py-1 is-size-6 has-text-weight-medium text-gray-900 dark:text-gray-200">Batch size:</label>
				<input id="batchSizeInput" type="number" value="100" min="10" max="5000" step="50" class="is-medium-rounded border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600">
			</div>
		</div>

		<div class="field">
			<label class="label">Select import type</label>
			<div class="control is-flex is-align-items-center gap-4">
				<label class="radio">
					<input type="radio" name="import_type" value="evaluations" checked>
					Import evaluations
				</label>
				<label class="radio">
					<input type="radio" name="import_type" value="move_statistics">
					Import move statistics
				</label>
			</div>
		</div>

		<div class="py-3">
			<button type="button" id="importButton" class="button is-primary">
				Start import
			</button>
		</div>

		<div class="py-3">
			<label class="py-1 is-size-6 has-text-weight-medium text-gray-900 dark:text-gray-200">Lines imported:</label>
			<span id="linesImportedField" class="inline-block p-1 has-text-weight-medium text-gray-900 dark:text-gray-200">0</span>
		</div>

		<div class="py-3">
			<label class="py-1 is-size-6 has-text-weight-medium text-gray-900 dark:text-gray-200">Elapsed time:</label>
			<span id="elapsedTimeField" class="p-1 has-text-weight-medium text-gray-900 dark:text-gray-200">0s</span>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}

<script type="module" src="{{ asset('js/admin.js') }}">
	{% endblock %}
