<div id="confirmModal" class="modal is-large-rounded">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Please confirm</p>
			<button id="confirmModalCloseButton" class="delete" aria-label="close"></button>
		</header>
		<section class="modal-card-body">
			<p class="w-full">
				Are you sure you want to delete this move from your repertoire?
			</p>
			<p class="w-full my-4">
				All the lines that follow this move will be deleted also.
			</p>
		</section>
		<footer class="modal-card-foot is-justify-content-flex-end">
			<div class="buttons">
				<button id="confirmModalCancelButton" class="button">
					Cancel
				</button>
				<button id="confirmModalConfirmButton" class="button is-warning">
					Confirm
				</button>
			</div>
		</footer>
	</div>
</div>
