<div id="loadPgnModal" class="modal is-large-rounded">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Load PGN</p>
			<button id="loadPgnModalCloseButton" class="delete" aria-label="close"></button>
		</header>
		<section class="modal-card-body">
			<textarea id="loadPgnModalPgnTextArea" placeholder="Paste your PGN here..." rows="8" class="textarea"></textarea>
		</section>
		<footer class="modal-card-foot is-justify-content-flex-end">
			<div class="buttons">
				<button id="loadPgnModalCancelButton" class="button">
					Cancel
				</button>
				<button id="loadPgnModalConfirmButton" class="button is-warning">
					Load PGN
				</button>
			</div>
		</footer>
	</div>
</div>
