// Import sass map module for merging maps
@use "sass:map";

// Bulma defaults (from bulma/utilities/initial-variables)
$white: hsl(221, 14%, 100%);
$black: hsl(221, 14%, 4%);

$light: hsl(221, 14%, 96%);
$dark: hsl(221, 14%, 21%);

// Bulma color overrides and extensions
$primary: #f6ad55;
$link: #0369a1;
$info: #4dd0e1;
$success: #4caf50;
$warning: #e68a00; //#ff9800;
$danger: #f44336;

// Link hover (bulma link)
$link-hover: #1fadbf;
// Secondary link (navbar, hrefs)
$link-text: #957f49; // #1f7f8b;
$link-text-hover: #ad9863; // #52afbb;
$link-text-border: #fbd38d;

// blue-variant
$link: #1f7f8b; // same as text-title
$info: #4dd0e1;

// Text colors
$text-on-background: #d1d5db;
$text-default: #683111; // #855408; // #9d472a;
$text-title: #D18C2B; // #22a7b5; // blue-variant
$text-faded: #5b3118; // #6e452b; // #a0582b;

// Surfaces
$background: #735751;
$surface-main: #efe9d9;
$surface-alt: #f0e3bf; // #f0d58c;
$on-surface: #2c2c2c;
$surface-mixed: mix($surface-alt, $surface-main, 20%);

$skeleton-background: #cbcbcb;

// Custom Extras
$primary-lighter: #f5daba;
$surface-border: #d4c59c; // #dbbc68; // rgb(246, 173, 85);
$input-background: #fcfcfc;
$input-text: #a0674a;
$input-background-disabled: #f0f0f0;
$input-text-disabled: #B89E8A; // disabled input text color

// Bulma color overrides and extensions - dark mode
$primary-dark: hwb(35.06deg 16.86% 18.04%); //#D18C2B;
$link-dark: #4c946a;
$info-dark: #33cfe0;
$success-dark: #4caf50;
$warning-dark: #ffb74d;
$danger-dark: #e57373;

// Link variants (bulma)
$link-hover-dark: #66ad84;
// Secondary link (navbar, hrefs)
$link-text-dark: #b99a4e;
$link-text-hover-dark: #d7ac29;
$link-text-border-dark: #5a5a5a;

// Text colors
$text-default-dark: #e0e0e0;
$text-title-dark: #D18C2B; // #ffffff;
$text-faded-dark: #aaaaaa;
$text-on-background-dark: #cccccc;

// Surfaces
$background-dark: #121212;     // almost black, main background
$surface-main-dark: #1e1e1e;   // card / box main background
$surface-alt-dark: #2a2a2a;    // alternate surfaces / highlights
$on-surface-dark: #e0e0e0;     // text color on surfaces
$surface-mixed-dark: mix($surface-alt-dark, $surface-main-dark, 20%);

// Custom Extras
$primary-lighter-dark: hwb(35.06deg 46.86% 18.04%);
$surface-border-dark: #404040;
$input-background-dark: #090909;
$input-text-dark: #a8a8a8;
$input-background-disabled-dark: #2f2f2f;
$input-text-disabled-dark: #808080; // disabled input text color