.grid-auto-1fr {
    display: grid;
    grid-template-columns: auto 1fr;
}

.grid-1fr-auto-auto-1fr {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
}

.grid-4auto {
    display: grid;
    grid-template-columns: repeat(4, auto);
}