/* */
.opponent-move-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--color-surface-main);
  border: 1px solid var(--color-surface-border);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}

.opponent-move-holder:hover {
  background: var(--color-surface-alt);
}

.opponent-move-holder .opponent-move-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.75rem 0;
  gap: 0.75rem;
}

.opponent-move-holder .opponent-move-header > span {
  font-size: 1rem;
  color: var(--color-text-default);
}

.opponent-move-holder .opponent-move-header > span:last-of-type {
  padding: 0 0.25rem;
}

.opponent-move-holder.sporadic-move {
  opacity: 0.7;
}

.opponent-move-holder .opponent-move-header > span:first-of-type {
  font-weight: 500;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.25rem;
}
.opponent-move-holder.white .opponent-move-header > span:first-of-type {
  border: 1px solid rgba(0,0,0,0.2);
  color: #374151;
  background: #f9fafb;
}
.opponent-move-holder.black .opponent-move-header > span:first-of-type {
  border: 1px solid rgba(255,255,255,0.2);
  color: #e5e7eb;
  background: #18181b;
}
.opponent-move-holder .opponent-move-header > span:nth-of-type(2) {
  font-size: 0.875rem;
  font-weight: 500;
}
.opponent-move-holder .opponent-move-header > span.opponent-move-checkmark {
  position: absolute;
  display: flex;
  align-items: flex-start;
  top: 0.125rem;
  right: 0.25rem;
  width: 1rem;
  height: 1rem;
  font-size: .9rem;
  line-height: .9rem;
  color: var(--color-success);
}
.opponent-move-holder .opponent-move-footer {
  display: flex;
  justify-content: stretch;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 500;
  margin-top: 0.75rem;
  background: var(--color-surface-main);
  border-top: 1px solid var(--color-surface-alt);
}
.opponent-move-holder .opponent-move-footer span {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}
.opponent-move-holder .opponent-move-footer span:first-of-type {
  border-right: 1px solid var(--color-surface-alt);
}
.opponent-pgn-text:not(:first-child) {
  padding-left: 0.125rem;
}


/* Pgn Moves with Hover */
.opponent-pgn-move {
  padding: 0.25rem;
  border: 1px solid transparent;
  margin: -0.125rem;
}
.opponent-pgn-move:not(:last-child) {
  cursor: pointer;
}
.opponent-pgn-move:not(:last-child):hover {
  border-radius: 0.375rem;
  color: var(--color-link);
  background: var(--color-link-light);
  border: 1px solid rgba(0,0,0,.1);
}


/* Opponent Boxed Radio */
.opponent-connect-children {
  position: absolute;
  right: .8rem;
  top: .5rem;
  display: inline-block;
  color: var(--bulma-link-color);
}

.boxed-radio > .opponent-connect-link {
  display: none;
  position: absolute;
  right: .75rem;
  bottom: .5rem;
  cursor: pointer;
  color: var(--bulma-link-color);
}

.boxed-radio > .opponent-connect-link:hover {
  color: var(--bulma-link-hover-color);
}

.boxed-radio > input[type="radio"]:checked ~ .opponent-connect-link {
  display: inline-block;
}