.grid-row-hover {
  transition: background-color ease-in 0.3s;
}

.grid-row-hover:hover > div {
  background-color: var(--color-surface-alt);
}

.roadmap-tree-item {
  width: 16rem;
}

.skeleton-block.skeleton-roadmap-tree-item {
  width: 16rem;
  height: 10rem;
  border-radius: 0.5rem;
}