.roadmap-tree-item {
  width: 16rem;
}

.skeleton-block.skeleton-roadmap-tree-item {
  width: 16rem;
  height: 10rem;
  border-radius: 0.5rem;
}

.roadmap-tree-item-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.125rem 0.25rem;
  cursor: auto;
  border-top: solid 1px var(--color-surface-border);
}