<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/app.css') }}">
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
	</head>
	<body class="bg-gray-100 h-screen antialiased leading-none font-sans min-h-screen">
		{% block header %}
			<header>
				<!-- Main navigation container -->
				<nav class="fixed z-20 top-0 start-0 flex w-full flex-wrap items-center justify-between bg-zinc-50 border border-slate-300 py-2 shadow-dark-mild dark:bg-neutral-700 lg:py-4" data-twe-navbar-ref>
					<div class="flex w-full flex-wrap items-center justify-between px-3">
						<div>
							<a class="mx-2 my-1 flex items-center lg:mb-0 lg:mt-0" href="#">
								<img class="me-2" src="{{ asset('build/images/chess-board.png') }}" style="height: 32px" alt="Chess Repertoire" loading="lazy"/>
							</a>
						</div>

						<!-- Hamburger button for mobile view -->
						<button
							class="block border-0 bg-transparent px-2 text-black/50 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden" type="button" data-twe-collapse-init data-twe-target="#navbarSupportedContent4" aria-controls="navbarSupportedContent4" aria-expanded="false" aria-label="Toggle navigation">
							<!-- Hamburger icon -->
							<span class="[&>svg]:w-7 [&>svg]:stroke-black/50 dark:[&>svg]:stroke-neutral-200">
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor">
									<path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd"/>
								</svg>
							</span>
						</button>

						<!-- Collapsible navbar container -->
						<div class="!visible mt-2 hidden flex-grow basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto" id="navbarSupportedContent4" data-twe-collapse-item>
							<h2 class="text-1xl font-semibold text-gray-900">Chess Repertoire</h2>
						</div>

						<!-- Right elements -->
						<div
							class="relative flex items-center">

							<!-- Left links -->
							<ul
								class="list-style-none me-auto mr-20 flex flex-col ps-0 lg:mt-1 lg:flex-row" data-twe-navbar-nav-ref>
								<!-- Home -->
								<li class="mb-4 ps-2 lg:mb-0 lg:pe-1 lg:ps-0" data-twe-nav-item-ref>
									<a href="/" class="p-0 text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2" data-twe-nav-link-ref>
										Home
									</a>
								</li>
								<!-- Repertoire -->
								<li class="mb-4 ps-2 lg:mb-0 lg:pe-1 lg:ps-0" data-twe-nav-item-ref>
									<a href="/repertoire" class="p-0 text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2" data-twe-nav-link-ref>
										Repertoire
									</a>
								</li>
								<!-- Practice -->
								<li class="mb-4 ps-2 lg:mb-0 lg:pe-1 lg:ps-0" data-twe-nav-item-ref>
									<a href="/practice" class="p-0 text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2" data-twe-nav-link-ref>
										Practice
									</a>
								</li>
							</ul>

							<div class="flex items-center">
								{% if app.user %}
									<a href="/logout" class="rounded-md px-3 py-2 text-sm uppercase font-semibold text-indigo-500 shadow-sm">
										Logout
									</a>
								{% else %}
									<a href="/login" class="rounded-md px-3 py-2 text-sm uppercase font-semibold text-indigo-500 shadow-sm">
										Login
									</a>
									<a href="/register" class="rounded-md bg-indigo-600 px-3 py-2 text-sm uppercase font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
										Sign up for free
									</a>
								{% endif %}
							</div>
						</div>
					</div>
				</nav>
			</header>
		{% endblock %}

		<div class="pt-20 pb-20 px-5"> {% block body %}{% endblock %}

			</div>

			{% block footer %}
				<footer class="fixed bottom-0 w-full bg-zinc-50 border border-slate-300 py-1 shadow-dark-mild dark:bg-neutral-700 lg:py-2">
					<p class="m-0 text-center text-base text-sm p-0">
						Copyright 2024 AvWeije. All Rights Reserved.
					</p>
				</footer>
			{% endblock %}
		</body>
	</html>
