{% extends 'base.html.twig' %}

{% block body %}

	<div class="m-auto has-text-centered p-4">
		{% block board_header %}{% endblock %}
	</div>

	<div class="is-flex is-justify-content-space-around">
		<div>

			{% block board_top %}{% endblock %}

			<div class="is-flex">
				<div class="mr-2" style="width: 45vw; max-width: 74vh;">
					{% block board_left %}{% endblock %}
				</div>
				<div style="width: 45vw; min-width: min-content; max-width: 74vh;">
					{% block board_right %}{% endblock %}
				</div>
			</div>
		</div>
	</div>

	{% block body_end %}{% endblock %}

{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('styles/chessboard.css') }}">
	<link rel="stylesheet" href="{{ asset('markers/markers.css') }}">
	<link rel="stylesheet" href="{{ asset('arrows/arrows.css') }}">
{% endblock %}
