{% extends 'base.html.twig' %}

{% block body %}

	<div class="m-auto text-center p-4">
		{% block board_header %}{% endblock %}
	</div>

	<div class="flex justify-around">
		<div>

			{% block board_top %}{% endblock %}

			<div class="flex">
				<div class="mr-2" style="width: 45vw; max-width: 74vh;">
					{% block board_left %}{% endblock %}
				</div>
				<div style="width: 45vw; min-width: min-content; max-width: 74vh;">
					{% block board_right %}{% endblock %}
				</div>
			</div>
		</div>
	</div>

	{% block body_end %}{% endblock %}

{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('chessboard') }}
	{{ encore_entry_link_tags('markers') }}
	{{ encore_entry_link_tags('arrows') }}
{% endblock %}
