{% extends 'base.html.twig' %}

{% block body %}

	<div class="w-4/5 m-auto text-center p-4">
		<div class="inline-flex rounded-md shadow-sm">
			<a href="/practice/all" aria-current="page" class="px-4 py-2 text-sm font-medium text-blue-700 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
				All
				<span class="text-xs">[20]</span>
			</a>
			<a href="/practice/white" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
				White
				<span class="text-xs">[12]</span>
			</a>
			<a href="/practice/black" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
				Black
				<span class="text-xs">[8]</span>
			</a>
			<a href="/practice/new" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
				New
				<span class="text-xs">[4]</span>
			</a>
			<a href="/practice/recommended" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
				Recommended
				<span class="text-xs">[6]</span>
			</a>
		</div>

	</div>

	<div class="flex justify-end mt-0 mb-4">
		<button type="button" id="startPracticeButton" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:text-black disabled:bg-gray-300 disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none">
			Start your practice
		</button>
	</div>

	<div class="flex items-stretch">
		<div class="flex-auto self-start w-1/2 border border-slate-300 bg-slate-200 rounded p-2 mr-2" style="max-width: 70vh;">
			<div id="board" class="border border-slate-300" data-color="white"></div>
		</div>
		<div class="flex-auto w-1/2 border border-slate-300 bg-slate-200 rounded p-2">


			<div class="flex border rounded border-slate-300 p-2 text-sm bg-white">
				<label class="font-bold w-20">Repertoire:</label>
				<div>1. e4 e5 2. h4 h5 3. f4 f5</div>
			</div>

			<div class="flex border rounded border-slate-300 p-2 text-sm bg-white">
				<label class="font-bold w-16">Status:</label>
				<div id="statusField"></div>
			</div>
			<div class="flex border rounded border-slate-300 p-2 text-sm bg-white">
				<label class="font-bold w-16">FEN:</label>
				<div id="fenField"></div>
			</div>
			<div class="flex border rounded border-slate-300 p-2 text-sm bg-white">
				<label class="font-bold w-16">PGN:</label>
				<div id="pgnField"></div>
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/repertoire.css') }}">
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('practice') }}
{% endblock %}
