{% extends 'base.html.twig' %}

{% block body %}

	<div class="w-4/5 m-auto text-center p-4">
		<div id="practiceRepertoireButtons" class="inline-flex rounded-md shadow-sm">
			<button class="text-blue-700 disabled:text-gray-300 bg-gray-50 px-4 py-2 text-sm font-medium border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
				Chess.com
			</button>
			<button class="text-gray-900 disabled:text-gray-300 bg-white px-4 py-2 text-sm font-medium border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
				Lichess
			</button>
		</div>
	</div>

	<p class="block text-sm font-bold text-gray-900 p-3 border-b border-slate-200">Account</p>

	<div class="flex items-center p-3">
		<div>
			<label class="block text-sm font-medium text-gray-900">Username</label>
		</div>
		<div class="mx-3">
			<input id="repertoireNameInput" type="text" name="username" size="40" value="avweije" placeholder="Enter your account name.." class="block w-full rounded-md border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
		</div>
		<div>
			<button type="button" id="connectButton" class="flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:text-black disabled:bg-gray-300 disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none">
				Connect
				<span class="hidden inline-block icon-[svg-spinners--90-ring-with-bg] ml-1 w-4 h-4"></span>
			</button>
		</div>
	</div>

	<p class="block text-sm font-bold text-gray-900 p-3 border-b border-slate-200">Archives</p>

	<div class="p-3">

		<p id="archivesDisabledText" class="text-base text-gray-900 p-3">Connect to your account to show the archives.</p>

		<div id="archivesContainer" class="hidden flex items-center p-3">
			<div>
				<label class="block text-sm font-medium text-gray-900">Year</label>
			</div>
			<div class="mx-3">
				<div class="relative">
					<select id="archiveYearSelect" name="archive_year" class="appearance-none inline-block rounded-md border-0 py-2 pl-3 pr-8 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></select>
					<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
						<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
					</div>
				</div>
			</div>
			<div>
				<label class="block text-sm font-medium text-gray-900">Month</label>
			</div>
			<div class="mx-3">
				<div class="relative">
					<select id="archiveMonthSelect" name="archive_month" class="appearance-none inline-block rounded-md border-0 py-2 pl-3 pr-8 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></select>
					<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
						<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
					</div>
				</div>
			</div>

			<div>
				<button type="button" id="downloadButton" class="flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:text-black disabled:bg-gray-300 disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none">
					Download games
					<span class="hidden inline-block icon-[svg-spinners--90-ring-with-bg] ml-1 w-4 h-4"></span>
				</button>
			</div>
		</div>
	</div>

	<p class="block text-sm font-bold text-gray-900 p-3 border-b border-slate-200">Games</p>

	<div class="p-3">

		<p id="gamesDisabledText" class="text-base text-gray-900 p-3">Download an archive to show the games.</p>

		<div id="gamesContainer" class="hidden flex items-center p-3">
			<div>
				<label class="block text-sm font-medium text-gray-900">Time Control</label>
			</div>
			<div class="mx-3">
				<div class="relative">
					<select id="gameTypeSelect" name="game_type" class="appearance-none inline-block rounded-md border-0 py-2 pl-3 pr-8 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></select>
					<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
						<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
					</div>
				</div>
			</div>

			<div>
				<button type="button" id="analyseButton" class="flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:text-black disabled:bg-gray-300 disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none">
					Analyse games
					<span class="hidden inline-block icon-[svg-spinners--90-ring-with-bg] ml-1 w-4 h-4"></span>
				</button>
			</div>
		</div>
	</div>

	<dialog id="analyseModal" class="relative p-6 bg-white rounded-lg shadow-lg">
		<button id="analyseModalCloseButton" class="close-button">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-700 hover:text-gray-900" fill="none" viewbox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
			</svg>
		</button>
		<h2 class="mb-8 mr-32 text-lg font-semibold">Analysing your games</h2>
		<div class="grid grid-cols-[_auto_1fr] gap-4">
			<label class="text-gray-700 whitespace-nowrap">Type:</label>
			<p class="w-full text-gray-700">Blitz Games</p>
			<label class="text-gray-700 whitespace-nowrap">Games:</label>
			<p class="w-full text-gray-700">24 in total, 14 left</p>
			<label class="text-gray-700 whitespace-nowrap">Elapsed time:</label>
			<p class="w-full text-gray-700">1m 12s</p>
			<label class="text-gray-700 whitespace-nowrap">Estimated time:</label>
			<p class="w-full text-gray-700">4m 30s</p>
		</div>
		<div class="flex justify-center space-x-2 mt-8">
			<button id="analyseModalStopButton" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:text-black disabled:bg-gray-300 disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none">
				Stop analysing
			</button>
		</div>
	</dialog>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/repertoire.css') }}">
	{{ encore_entry_link_tags('modal') }}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('analyse') }}
{% endblock %}
